<div class="side-content">
	<h2>Mot de passe oublié</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">
	<span class="error" *ngIf="error.message">{{error.message}}</span>
		<p>
			<label>E-mail : <br><input name="email" type="text" ngModel (input)="clear_errors('email')"></label>
			<span class="error" *ngIf="error.errors && error.errors.email">{{error.errors.email.message}}</span>
		</p>
		<button type="submit">Valider</button>
	</form>
	<hr>
	<a (click)="change_view('login')">Retour</a>
</div>
