<div class="side-content">
	<h2>Créer un compte</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">
	<span class="error" *ngIf="error.message">{{error.message}}</span>
		<p>
			<label>Nom : <br><input name="name" type="text" ngModel (input)="clear_errors('name')"></label>
			<span class="error" *ngIf="error.errors && error.errors.name">{{error.errors.name.message}}</span>
		</p>
		<p>
			<label>E-mail : <br><input name="email" type="text" ngModel (input)="clear_errors('email')"></label>
			<span class="error" *ngIf="error.errors && error.errors.email">{{error.errors.email.message}}</span>
		</p>
		<p>
			<label>Mot de passe : <br><input name="password" type="password" ngModel (input)="clear_errors('password')"></label>
			<span  class="error" *ngIf="error.errors && error.errors.password">{{error.errors.password.message}}</span>
		</p>
		<p>
			<label>Confirmation : <br><input name="password_confirm" type="password" ngModel (input)="clear_errors('password_confirm')"></label>
			<span class="error" *ngIf="error.errors && error.errors.password_confirm">{{error.errors.password_confirm.message}}</span>
		</p>
		<button type="submit">Valider</button>
	</form>
	<hr>
	<a (click)="change_view('login')">Se connecter</a>
</div>
