<div class="content">
	<h2>Créer un nouveau mot de&nbsp;passe</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">
	<span class="error" *ngIf="error.message">{{error.message}}</span>
		<p>
			<label>Mot de passe : <br><input name="password" type="password" ngModel (input)="clear_errors('password')"></label>
			<br><span class="error" *ngIf="error.errors && error.errors.password">{{error.errors.password.message}}</span>
		</p>
		<p>
			<label>Confirmation : <br><input name="password_confirm" type="password" ngModel (input)="clear_errors('password_confirm')"></label>
			<br><span class="error" *ngIf="error.errors && error.errors.password_confirm">{{error.errors.password_confirm.message}}</span>
		</p>
		<button type="submit">Valider</button>
	</form>
	
</div>
