<div class="side-content" *ngIf="user">
	<h2>Modifiez votre mot de passe</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">
	<span class="error" *ngIf="error.message">{{error.message}}</span>
		<p>
			<label>Mot de passe actuel : <br><input name="password" type="password" ngModel (input)="clear_errors('password')"></label>
			<span class="error" *ngIf="error.errors && error.errors.password">{{error.errors.password.message}}</span>
		</p>
		<p>
			<label>Nouveau mot de passe : <br><input name="password_new" type="password" ngModel (input)="clear_errors('password_new')"></label>
			<span class="error" *ngIf="error.errors && error.errors.password_new">{{error.errors.password_new.message}}</span>
		</p>
		<p>
			<label>Confirmation : <br><input name="password_new_confirm" type="password" ngModel (input)="clear_errors('password_new_confirm')"></label>
			<span class="error" *ngIf="error.errors && error.errors.password_new_confirm">{{error.errors.password_new_confirm.message}}</span>
		</p>
		<input name="id" type="hidden" [ngModel]="user.id">
		<button type="submit">Valider</button>
	</form>
	<hr>
	<p>
		<a (click)="change_view('profileEdit')">Modifier ses identifiants</a>
	</p>
	<hr>
	<p>
		<a (click)="change_view('profile')">Retour</a>
	</p>
	
</div>
